:root{
    width: 100%;
    font-family:arial,sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.list-items{
    display: inline-flex;
    justify-content: center;
    list-style: none;
}
li{
    margin: 0.5em 1em;
}

.dots{
    width: 5px;
    height: 5px;
    background-color: #000;
    margin: 2px;
}
.tier{
    align-items: center;
}
#sign-in{
    background: rgb(66, 133, 244);
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 0.5em 0.8em;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.logo-div{
    margin-bottom: -48vh;
}
#search-box{
    width: 45vw;
    height: 30px;
    border-radius:20px;
    outline-style: none;
}
#search-box:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1)
}
.lower-buttons{
   margin-top: -25vh; 
   display: flex;
   justify-content: center;

}
.lower-buttons > p{
    background-color: #f2f2f2;
    padding: 0.5em ;
    margin: 0.2em;
}
.lower-buttons >p:hover{
    border: 0.01em rgba(0, 0, 0, 0.1) solid;
}
#lower-text{
    text-align: center;
}
.footer-nav{
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow:hidden;
}
footer{
    background-color: #f2f2f2;
    margin-top: 7em;
}
#location, .footer-list{
    list-style: none;
    display: inline-flex;
}

